
       @font-face
        {
          font-family: EXO2-Medium;
          src: url("fonts/Exo2-Medium.ttf");
        }
         @font-face
        {
          font-family: ShadowsIntoLight-Regular;
          src: url("fonts/ShadowsIntoLight-Regular.ttf");
        }
       header 
        {
            background-color: #ff8fab;
            color: #fff;
            padding: 20px;
            text-align: center;
            font-family: ShadowsIntoLight-Regular;
        }
        h2
        {
            color: #ff8fab;
            text-size: 36px;

        }

        p
        {
            text-size: 20px;
            text-align: center;
        }


        body {
            text-align: center;
            font-family: EXO2-Medium;
            background-repeat: repeat;
        }

        .game-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        .game-image {
            width: 800px;
            height: 450px;
            margin-bottom: 10px;
        }
        .game-logo {
            width: 200px;
            height: 200px;
            margin-bottom: 10px;
        }

        iframe {
            width: 80vw;
            height: 45vw;
            border: none;
        }

        table {
            width: 60%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #444;
            color: white;
        }
