
       @font-face
        {
          font-family: EXO2Medium;
          src: url("fonts/Exo2-Medium.ttf");
        }
         @font-face
        {
          font-family: ShadowsIntoLightRegular;
          src: url("fonts/ShadowsIntoLight-Regular.ttf");
        }
       header 
        {
            background-color: #ff8fab;
            color: #fff;
            margin-top:0px;
            text-align: center;
            font-family: ShadowsIntoLightRegular;
            
        }
        h2
        {
            color: #ff8fab;
            font-size: 34px;

        }
        h3 
        {
               color: #999999;
               font-size: 25px;


        }
        p
        {
            text-size: 20px;
            text-align: center;
        }


        body {
            text-align: center;
            font-family: EXO2Medium;
            background-repeat: repeat;
            font-size: 16pt;
        }

        .game-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        .game-image {
            width: 800px;
            height: 450px;
            margin-bottom: 10px;
        }
        .game-logo {
            width: 200px;
            height: 200px;
            margin-bottom: 10px;
        }

        iframe {
            width: 80vw;
            height: 45vw;
            border: none;
        }

        table {
            width: 60%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #444;
            color: white;
        }
        .how-to-play-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px; /* Space between steps and content */
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

.steps {
    flex: 1;
    text-align: right;
    padding-right: 15px; /* Space between steps and text */
}

.steps-content {
    flex: 3;
    text-align: left;
}

.steps h3 {
    margin: 20px 0;
}

.steps-content p {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .how-to-play-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .steps, .steps-content {
        text-align: center;
    }

    .steps {
        padding-right: 0;
    }
}
