
       @font-face
        {
          font-family: EXO2Medium;
          src: url("fonts/Exo2-Medium.ttf");
        }
         @font-face
        {
          font-family: ShadowsIntoLightRegular;
          src: url("fonts/ShadowsIntoLight-Regular.ttf");
        }
       header 
        {
            background-color: #ff8fab;
            color: #fff;
            padding: 35px; 
            text-align: center;
            font-family: ShadowsIntoLightRegular;
            
        }
        h2
        {
            color: #ff8fab;
            font-size: 34px;

        }
        h3 
        {
               color: #999999;
               font-size: 25px;


        }
        p
        {
            font-size: 20px;
            
        }


        body {
            text-align: center;
            font-family: EXO2Medium;
            background-repeat: repeat;
            font-size: 20pt;
        }

        .game-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }

        .game-image {
            width: 800px;
            height: 450px;
            margin-bottom: 10px;
        }
        .game-logo {
            width: 200px;
            height: 200px;
            margin-bottom: 10px;
        }

        iframe {
            width: 80vw;
            height: 45vw;
            border: none;
        }

        table {
            width: 60%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #a0c4ff;
            color: white;
        }
        .how-to-play-container {
           width: 80%;
           max-width: 600px;
           margin: 20px auto;
           text-align: left;
       }

       .step 
       {
           margin-bottom: 20px;
           padding: 10px;
           border-left: 4px solid #a0c4ff; 
           background: #f9f9f9;
           padding-left: 15px;
           border-radius: 5px;
       }

       h3 
       {
           margin-top: 0;
           color: #a0c4ff;
       }
       
       p
       {
           font-size:  24px;
           line-height: 1.5;
           margin: 5px 0;
       }
