body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-size: 18px; /* Bigger font */
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

#profile-pic {
  border-radius: 50%;
  margin-top: 10px;
}

nav {
  background-color: #444;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

section {
  background-color: white;
  margin: 90px auto;
  padding: 60px;
  max-width: 1000px;
}
