@font-face {
  font-family: 'Playwriter';
  src: url("PlaywriteAUSA-VariableFont_wght.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Playwriter', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0 10px; /* Add small padding to avoid touching screen edges */
  font-size: 15px;
  line-height: 1.8;
}

header {
  background-color: #9c89b8;
  color: white;
  padding: 30px 15px;
  text-align: center;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  margin: 0;
}

.profile-img {
  border-radius: 50%;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: #b7a9cb;
  padding: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  margin: 10px 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  text-decoration: underline;
  font-size: 1.2rem;
}

section {
  background-color: white;
  margin: 60px auto;
  padding: 50px 30px;
  max-width: 1100px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}
