/* Base Styles */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffaf5;
  color: #333;
  padding: 1rem;
  line-height: 1.6;
}

/* Header */
header {
  text-align: center;
  padding: 1rem 1rem 2rem;
  background-color: #710c0c;
  border-radius: 10px;
}

.header-logo {
  max-width: 220px;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color: #710c0c;
}

header p {
  font-size: 1.1rem;
  color: #710c0c;
  margin-top: 0.5rem;
}

/* Navigation */
nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 1.5rem 0;
}

nav a {
  text-decoration: none;
  color: #a94442;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Main Content */
main {
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-bottom: 2rem;
}

h2 {
  color: #710c0c;
  border-bottom: 2px solid #f8d7da;
  padding-bottom: 0.5rem;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color:#710c0c;
  border-radius: 8px;
  margin-top: 2rem;
}
